@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  /* --line-height: 1.7; // for readability */

  --default-font-family: "Noto Serif SC", serif;

  --color-bgprimary: oklch(0.9913 0.0013 286.38);
  --color-bgsecondary: var(--color-gray-100);

  --color-primary: var(--color-zinc-800);
  --color-secondary: var(--color-violet-800);

}

@layer components {
  .card-hover-effect > * { /* 为所有直接子元素应用过渡 */
    @apply transition-colors duration-300;
  }
  /* 或者更具体地指定 */
  .card-hover-effect h3, .card-hover-effect p {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .text-transition {
    @apply transition-colors duration-300 ease-in-out;
  }
  .icon-transition {
    @apply transition-transform duration-200 ease-in-out;
  }
}

/*

@custom-variant dark (&:where(.dark, .dark *));

// On page load or when changing themes, best to add inline in `head` to avoid FOUC
document.documentElement.classList.toggle(
  "dark",
  localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
);
// Whenever the user explicitly chooses light mode
localStorage.theme = "light";
// Whenever the user explicitly chooses dark mode
localStorage.theme = "dark";
// Whenever the user explicitly chooses to respect the OS preference
localStorage.removeItem("theme"); */