@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* TODO: lots of customizations to be done later */
@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --default-font-family: "Noto Serif SC", serif;
  --line-height: 1.7;
  /* for readability */

  /* paper white background */
  --color-bgprimary: var(--color-zinc-50);
  /* secondary paper gray background */
  --color-bgsecondary: var(--color-gray-200);

  /* text colors nearly black */
  --color-primary: var(--color-zinc-800);
  /* theme color violet */
  --color-secondary: var(--color-violet-800);

}

/* Dark mode overrides */
.dark {
  /* dark mode background nearly black */
  --color-bgprimary: var(--color-neutral-900);
  /* secondary dark mode gray background */
  --color-bgsecondary: var(--color-gray-700);

  /* light text color nearly white */
  --color-primary: #fff;
  /* theme color cyan */
  --color-secondary: var(--color-cyan-400);
}


@layer components {
  .card-hover-effect>* {
    /* 为所有直接子元素应用过渡 */
    @apply util-transition-colors;
  }

  /* 或者更具体地指定 */
  .card-hover-effect h3,
  .card-hover-effect p {
    @apply transition-colors duration-300;
  }
}

@layer utilities {
  .util-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .util-transition-colors {
    @apply transition-colors duration-300 ease-in-out;
  }
}

/* Shiki syntax highlighting overrides for dark mode adaptations */
@layer base {
  pre code {
    padding: 2rem !important;
    overflow-y: auto !important;
    @apply rounded-xl !important;
    @apply var(--util-transition-colors) !important;
  }

  .dark :where(.shiki, .shiki span) {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

/*
// On page load or when changing themes, best to add inline in `head` to avoid FOUC
document.documentElement.classList.toggle(
  "dark",
  localStorage.theme === "dark" ||
    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
);
// Whenever the user explicitly chooses light mode
localStorage.theme = "light";
// Whenever the user explicitly chooses dark mode
localStorage.theme = "dark";
// Whenever the user explicitly chooses to respect the OS preference
localStorage.removeItem("theme"); */